/**/.ipynb_checkpoints
/**/__pycache__
*.svg
/**/.snakemake
*.done
test/test_RNA_10X/*
!test/test_RNA_10X/config.yaml
test/test_RNA_Lime/*
!test/test_RNA_Lime/config.yaml
test/test_LARRY_10X/*
!test/test_LARRY_10X/config.yaml
test/test_LARRY_Lime/*
!test/test_LARRY_Lime/config.yaml
test/test_DNA_Lime/*
!test/test_DNA_Lime/config.yaml
test/test_DNA/*
!test/test_DNA/config.yaml
/**/.DS_Store
